<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %>
</div>

<h1>
  <%= image_tag("movement_48.png", :class => "vmiddle") %>
  movements
</h1>

<p>
  Select one of your companies to view its movements:
</p>

<%= render "companies/list_select" %>