<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Inventarios
</h1>

<p>
  Select one of your companies to view its inventarios:
</p>

<%= render "companies/list_select" %>