<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;

  
   <p>
   Empleado tiene informacion registrada en el sistema no se puede eliminar 

   </p>



<div class="button">
  <%= link_to 'Regresar', employees_url %>
</div>

 
</div>
