<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;

  
   <p>
   Archivo Generado con exito ..

   </p>



<div class="button">
  <%= link_to 'Regresar', "/companies/facturas/#{@company.id}" %>
</div>

 
</div>
