<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;

  
   <p>
   Archivos Generados con exito ..ahora ejecute opcione enviar a DBF  y luego migre al sistema Concar

   </p>



<div class="button">
  <%= link_to 'Back', "/companies/facturas/#{@company.id}" %>
</div>

 
</div