<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;

  
   <p>

   no existe informacion para los datos ingresados ..

   </p>



<div class="button">
  <%= link_to 'Regresar', "/companies/reports/rpt_ccobrar3_pdf/#{@company.id}" %>
</div>

 
</div>
