<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Registro de Viaticos.

</h1>

<p>
  Seleccion una de tus compañias para ver su cobranza
  
  
</p>

<%= render "companies/list_select" %>


