<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;

  
   <p>
   <p id="notice"><%= notice %></p>


   </p>



<div class="button">
  <%= link_to 'Regresar', assistances_path %>
</div>

 
</div