<html>
<body>
    
<div style="width:800px;height:540px;border:1px solid #000;">
		
<table style='font-family:"Arial", Courier, monospace; font-size:80% ;width:100%'>
  <tr>
    <td width= "30%">TRANSPORTES PEREDA SRL</td>
    <td width= "40%"> </td>
    <td width= "30%" style='font-weight:bold;font-size:75%' >D.S.N.020-2008</td>
  </tr>      
  <tr>
    <td width= "30%" style='font-weight:bold;font-size:75%' >Jr.Victor Reinel Nro.187 Lima</td>
    <td width= "40%"> </td>
    <td width= "30%"> </td>
  </tr>      
  
  <tr >
    <td width= "30%" style='font-weight:bold;font-size:75%' >Ruc 20424092941</td>
    <td width= "40%" style='font-weight:bold;font-size:100% '>BOLETA DE REMUNERACIONES</td>
    <td width= "30%" style='font-weight:bold;font-size:70% '>Fecha de Pago: </td>
  </tr>
  
  </table>
  
  
  <table style='font-family:"Arial", Courier, monospace; font-size:70% ;width:100%'>
      
  <tr >
    <td width= "16%" style='font-weight:bold'>Codigo :</td>
    <td width= "16%" >  </td>
    <td width= "16%" style='font-weight:bold'>Fecha Ingreso : </td>
    <td width= "16%" > </td>
    <td width= "10%" style='font-weight:bold'>Dias Lab.: </td>
    <td width= "10%" >  </td>    
  </tr>
  <tr >
    <td width= "16%" style='font-weight:bold'>Trabajador</td>
    <td width= "16%" > </td>
    <td width= "16%" style='font-weight:bold'>Fecha Cese </td>
    <td width= "16%" > </td>
    <td width= "10%" style='font-weight:bold'>Dias subs. </td>
    <td width= "10%" >  </td>    
  </tr>
  <tr >
    <td width= "16%" style='font-weight:bold'>Tipo/Categoria Trab.</td>
    <td width= "16%" > </td>
    <td width= "16%" style='font-weight:bold'>Periodo Vacacional : </td>
    <td width= "16%" >  </td>
    <td width= "10%" style='font-weight:bold'>Dias no Lab. </td>
    <td width= "10%" >  </td>    
  </tr>
  <tr >
    <td width= "16%" style='font-weight:bold'>Area</td>
    <td width= "16%" >  </td>
    <td width= "16%" style='font-weight:bold'> Inicio Vac. </td>
    <td width= "16%" > </td>
    <td width= "10%" style='font-weight:bold'>Dias Vac. </td>
    <td width= "10%" >  </td>    
  </tr>
  <tr >
    <td width= "16%" style='font-weight:bold'>Centro de Costos</td>
    <td width= "16%" >  </td>
    <td width= "16%" style='font-weight:bold'>Fin.Vacac.</td>
    <td width= "16%" ></td>
    <td width= "10%" style='font-weight:bold'>Nro.Horas ord. </td>
    <td width= "10%" > </td>    
  </tr>
  <tr >
    <td width= "16%" style='font-weight:bold'>Cargo</td>
    <td width= "16%" > </td>
    <td width= "16%" style='font-weight:bold'>Reg.Pensionario </td>
    <td width= "16%" > </td>
    <td width= "10%" style='font-weight:bold'>N.Hs.Ext.25% </td>
    <td width= "10%" > </td>    
  </tr>
  <tr >
    <td width= "16%" style='font-weight:bold'>Tipo Documento </td>
    <td width= "16%" >  </td>
    <td width= "16%" style='font-weight:bold'>CUSSPP </td>
    <td width= "16%" > </td>
    <td width= "10%" style='font-weight:bold'>N.Hs.Ext.35% </td>
    <td width= "10%" ></td>    
  </tr>
  <tr >
    <td width= "16%" style='font-weight:bold'>Fec.Nacimiento </td>
    <td width= "16%" > </td>
    <td width= "16%" style='font-weight:bold'>Autogenerado </td>
    <td width= "16%" >  </td>
    <td width= "10%" style='font-weight:bold'>N.Hs.Ext.100% </td>
    <td width= "10%" > </td>    
  </tr>
  
  <tr >
    <td width= "16%" style='font-weight:bold'>Regimen Laboral </td>
    <td width= "16%" > </td>
    <td width= "16%" style='font-weight:bold'>Sit.Especial </td>
    <td width= "16%" >  </td>
    <td width= "10%" style='font-weight:bold'>Rem.Mensual </td>
    <td width= "10%" > </td>    
  </tr>
  
  </table>
  
  <hr>
  <table style='font-family:"Arial", Courier, monospace; font-size:70% ;width:100%'>
  	<tr>
  	<td width ="33%" align="center"> INGRESOS</td>
  	<td width ="33%" align="center"> DESCUENTOS</td>
  	<td width ="33%" align="center"> APORTACIONES EMPLEADOR</td>
  	</tr>
  </table>
  <hr>     
    
    <table style='font-family:"Arial", Courier, monospace; font-size:70% ;width:100%'>
    	      
    <tr>
    <td width = "16.5%">Remuneracion Básica </td>
    <td width = "16.5%">12552.00 </td>
    
    <td width = "20%" >Aportaciones Empleador  </td>
    <td width = "10%">10.50% </td>
    <td width = "10%">1236.50 </td>
        
    <td width = "20%">EsSalud </td>
    <td width = "10%">9%</td>
    <td width = "10%">123456.10</td>
    </tr>
    
	<tr>
    <td width = "16.5%">Remuneracion Básica </td>
    <td width = "16.5%">12552.00 </td>
    
    <td width = "20%" >Aportaciones Empleador  </td>
    <td width = "10%">10.50% </td>
    <td width = "10%">1236.50 </td>
        
    <td width = "20%">EsSalud </td>
    <td width = "10%">9%</td>
    <td width = "10%">123456.10</td>
    </tr>
    
    <tr>
    <td width = "16.5%">Remuneracion Básica </td>
    <td width = "16.5%">12552.00 </td>
    
    <td width = "20%" >Aportaciones Empleador  </td>
    <td width = "10%">10.50% </td>
    <td width = "10%">1236.50 </td>
        
    <td width = "20%">EsSalud </td>
    <td width = "10%">9%</td>
    <td width = "10%">123456.10</td>
    </tr>
    
    <tr>
    <td width = "16.5%">Remuneracion Básica </td>
    <td width = "16.5%">12552.00 </td>
    
    <td width = "20%" >Aportaciones Empleador  </td>
    <td width = "10%">10.50% </td>
    <td width = "10%">1236.50 </td>
        
    <td width = "20%">EsSalud </td>
    <td width = "10%">9%</td>
    <td width = "10%">123456.10</td>
    </tr>
    <tr>
    <td width = "16.5%">Remuneracion Básica </td>
    <td width = "16.5%">12552.00 </td>
    
    <td width = "20%" >Aportaciones Empleador  </td>
    <td width = "10%">10.50% </td>
    <td width = "10%">1236.50 </td>
        
    <td width = "20%">EsSalud </td>
    <td width = "10%">9%</td>
    <td width = "10%">123456.10</td>
    </tr>
    <tr>
    <td width = "16.5%">Remuneracion Básica </td>
    <td width = "16.5%">12552.00 </td>
    
    <td width = "20%" >Aportaciones Empleador  </td>
    <td width = "10%">10.50% </td>
    <td width = "10%">1236.50 </td>
        
    <td width = "20%">EsSalud </td>
    <td width = "10%">9%</td>
    <td width = "10%">123456.10</td>
    </tr>
    <tr>
    <td width = "16.5%">Remuneracion Básica </td>
    <td width = "16.5%">12552.00 </td>
    
    <td width = "20%" >Aportaciones Empleador  </td>
    <td width = "10%">10.50% </td>
    <td width = "10%">1236.50 </td>
        
    <td width = "20%">EsSalud </td>
    <td width = "10%">9%</td>
    <td width = "10%">123456.10</td>
    </tr>
    
  </table>
  <hr>
  <table style='font-family:"Arial", Courier, monospace; font-size:70% ;width:100%'>
  	<tr>
  	<td width ="33%" align="center"> TOTAL INGRESOS S/.</td>
  	<td width ="33%" align="center"> TOTAL DESCUENTOS S/.</td>
  	<td width ="33%" align="center"> TOTAL APORTACIONES S/.</td>
  	</tr>  	
  </table>
  <hr>   
  <table style='font-family:"Arial", Courier, monospace; font-size:70% ;width:100%'>
  	<tr>
  	<td width ="33%" align="center"> </td>
  	<td width ="33%" style='font-weight:bold' align="center"> NETO A PAGAR S/.</td>
  	<td width ="33%" align="center"> </td>
  	</tr>  	
  </table>
  
  <table style='font-family:"Arial", Courier, monospace; font-size:60% ;width:100%'>
  	<tr>
  	<td width ="33%" align="center"> _______________</td>
  	<td width ="33%" align="center"> </td>
  	<td width ="33%" align="center"> _______________ </td>  	
  	</tr>  	
  	<tr>
  	<td width ="33%" align="center"> EMPLEADOR  </td>
  	<td width ="33%" align="center"> </td>
  	<td width ="33%" align="center"> RECIBI CONFORME </td>  	
  	</tr>  	
  	<tr>
  	<td width ="33%" align="center">  </td>
  	<td width ="33%" align="center"> </td>
  	<td width ="33%" align="center"> TRABAJADOR </td>  	
  	</tr>  	
  	
  </table>
    
</div>
</body>

</html>