<!DOCTYPE html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Estimado Usuario  </h3>
Hola  <%= @user.email  %>,

El comprobante de cancelacion de cuentas por pagar Nro:  <%= @comprobante %> a sido anulado  y esta completo. 

Se envia email de verificacion 

  </body>
</html> 