
<% if @compro.fecha != "" %>
  <p>
    <b>Fecha :</b>
    <%= @compro.fecha %>
  </p>
<% end %>

<% if @compro.numero != "" %>
  <p>
    <b>Numero :</b>
    <%= @compro.numero %>
  </p>
<% end %>

<% if @compro.importe != "" %>
  <p>
    <b>Importe:</b>
    <%= @compro.importe %>
  </p>
<% end %>

<% if @compro.detalle  != "" %>
  <p>
    <b>Detalle :</b>
    <%= @compro.detalle %>
  </p>
<% end %>



