<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %>
</div>

<h1>
  <%= image_tag("compro_48.png", :class => "vmiddle") %>
  Comprobantes 
</h1>

<p>
  Select one of your companies to view its compros:
</p>

<%= render "companies/list_select" %>