<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %>
</div>

<h1>
  <%= image_tag("clients_48.png", :class => "vmiddle") %>
  Clientes 
</h1>

<p>
  Seleccione una empresa para ver sus clientes:
  
</p>

<%= render "companies/list_select" %>