<div class="info">
  <div class="text">
    <h3>
      Registrate ahora!
    </h3>

    <p>
      <%= link_to "Registrar", new_user_registration_path  %> y empieza a administrar tus ventas con <strong><%= getAppName() %></strong>.
    </p>

    <h3>
     Preguntas?
    </h3>

    <p>
      Tienes alguna pregunta o comentario ?  <%= link_to "Contactanos ", "/contact" %>.
    </p>

    <h3>
      Nuestros clientes
    </h3>

    <p>
      Tu puedes que dicen  <%= link_to "nuestros clientes ", "/clients" %> acerca de nosotros.
    </p>
  </div>
</div>

