<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %>
</div>

<h1>
  <%= image_tag("invoice_48.png", :class => "vmiddle") %>
  Registro de Cobranza
  No hay informacion 

</h1>

<p>
  
  
  
</p>




