<div class="mid_box bordered_right">
  
  <h3>
    <%= image_tag("products_32.png", :class => "vmiddle") %>
    <%= link_to "Cotizacion", quotations_path %>
  </h3>

  <p>
    Agregar, editar or eliminar las cotizaciones que tu negocio ofrece.
  </p>

  <%= hr() %>

  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Solicitud Transporte",manifests_path  %>
  </h3>

  <p>
   Agregar, editar or eliminar Solicitud de transporte .
  </p>

  <%= hr() %>

  <h3>
    <%= image_tag("product_category_32.png", :class => "vmiddle") %>
    <%= link_to "Orden de Servicio de Transporte", tranportorders_path %>
  </h3>

  <p>
     Agregar, editar or eliminar las Ordenes de servicio de transporte.
  </p>


  <%= hr() %>

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Guias", "/companies/deliveries/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar guias para tu negocio.
  </p>


  
</div>

<div class="mid_box">
  <h3>
    <%= image_tag("clients_32.png", :class => "vmiddle") %>
    <%= link_to "Clientes", "/companies/customers/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar clientes para tu negocio.
  </p>

  <%= hr() %>



  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Vehiculos", "/companies/trucks/#{@company.id}" %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar vehiculos
     .
  </p>

<%= hr() %>
  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Emp.Subcontratada ", "/companies/subcontrats/#{@company.id}"%>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar empresa subcontratada
  </p>

<%= hr() %>

  <h3>
        <div>
          <%= image_tag("clients_32.png", :class => "vmiddle") %>
          <%= link_to "Punto Geografico ", puntos_path %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar empresa subcontratada
  </p>

<%= hr() %>

  
  <h3>
    <%= image_tag("reports_32.png", :class => "vmiddle") %>
        <%= link_to "Reportes", "/companies/reports_guias/#{@company.id}" %>
  </h3>

  <p>
    Reportes de tu negocio.
  </p>
<%= hr() %>