<div class="mid_box bordered_right">
    <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Recepcion orden de Compra", "/companies/purchaseorders/receive/#{@company.id}" %>
  </h3>

  <p>
    Recepcion de Orden de Compra   
  </p>
  
  <%= hr() %>

  <h3>
    <%= image_tag("invoice_32.png", :class => "vmiddle") %>
    <%= link_to "Salidas ", "/companies/purchaseorders/#{@company.id}" %>
  </h3>

  <p>
     Salidas de almacen
  </p>
  
  <%= hr() %>

  
  
  <h3>
    <%= image_tag("product_kit_32.png", :class => "vmiddle") %>
    <%= link_to "Ajustes Inventario", "/companies/products_kits/#{@company.id}" %>
  </h3>

  <p>
   Agregar, editar or eliminar kits de productos (grupos of productos).
  </p>

  <%= hr() %>

  
  
</div>

<div class="mid_box">
  <h3>
        <div>
    <%= image_tag("clients_32.png", :class => "vmiddle") %>
    <%= link_to "Toma de inventario", "/companies/servicebuys/#{@company.id}" %>
        </div>
  </h3>
  <p>
     Agregar, editar or eliminar ordenes de venta 
  </p>

<%= hr() %>

  
  <h3>
    <%= image_tag("supplier_32.png", :class => "vmiddle") %>
    <%= link_to "Consultar productos", "/companies/suppliers/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar proveedores para tu negocio.
  </p>
  <%= hr() %>

  <h3>
    <%= image_tag("divisions_32.png", :class => "vmiddle") %>
    <%= link_to "", "/companies/divisions/#{@company.id}" %>
  </h3>

  <p>
     Agregar, editar or eliminar divisiones de tu negocio(tablas, secciones, etc).
  </p>
  
  <%= hr() %>
  
  <h3>
    <%= image_tag("reports_32.png", :class => "vmiddle") %>
    <%= link_to "Reportes", "/companies/reports/#{@company.id}" %>
  </h3>

  <p>
    Reportes de tu negocio.
  </p>

</div>