

<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %>
</div>

<%= hr() %> 


<%= render 'layouts/sidemenu' %>




<div class="button">
  <%= link_to 'Back', companies_path %>
</div>