<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %>
</div>

<h1>
  <%= image_tag("locations_48.png", :class => "vmiddle") %>
  Ubicaciones 
</h1>

<p>
  Seleccione una de tus  companias para  ver tus ubicaciones:
</p>

<%= render "companies/list_select" %>